body {
  color: #999999;
  background-color: #10120f;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  letter-spacing: 1.2px; }

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg); } }
#spinner {
  margin: auto;
  width: 180px;
  height: 180px; }

.rotating {
  -webkit-animation: rotating 2s linear infinite; }

.select-item ul {
  padding: 1em 2em; }

#logo-area {
  margin: auto;
  margin-top: 105px;
  margin-bottom: 90px;
  width: 180px;
  height: 180px;
  background-image: url("luna_logo.svg");
  background-repeat: no-repeat;
  background-position: center center; }

#version-select {
  width: 410px;
  height: 50px;
  margin: auto;
  margin-top: 30px; }

.button {
  background-color: #222021;
  font-size: 15px;
  text-align: center;
  vertical-align: middle;
  width: 200px;
  height: 48px;
  line-height: 48px;
  border: none;
  color: #999999;
  outline: 0; }

.button option {
  border: none; }

.button-chooser-left {
  border-radius: 15px 0px 0px 15px;
  float: left; }

.button-chooser-right {
  border-radius: 0px 15px 15px 0px;
  float: left;
  margin-left: 4px; }

#send-statistics {
  width: 100%;
  text-align: center;
  vertical-align: middle;
  font-size: 15px; }

input[type=checkbox] {
  display: none; }

input[type=checkbox]:not(:checked) + label {
  background: url("hearts_grey.svg") no-repeat;
  background-size: 16px;
  padding-left: 30px; }

input[type=checkbox]:checked + label {
  background: url("hearts.svg") no-repeat;
  background-position: left center;
  background-size: 16px;
  padding-left: 30px; }

.learn-more-link a {
  color: #555555; }

#progress {
  height: 60px;
  width: 410px;
  margin: auto;
  color: #555555;
  text-align: center;
  vertical-align: middle; }

#additional-options {
  height: 200px;
  width: 410px;
  margin: auto;
  color: #555555;
  text-align: center;
  vertical-align: middle;
  padding-top: 80px; }

#install-buttons {
  width: 410px;
  margin: auto; }

#install-buttons button {
  float: right;
  width: 120px;
  height: 30px;
  line-height: 30px; }

.install-button {
  background-color: #591522;
  border-radius: 5px 5px 5px 5px; }

.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px; }

.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 16px;
  color: #fff;
  width: 200px;
  height: 40px; }

.select-styled {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #222222;
  padding: 8px 15px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  width: 200px;
  height: 40px;
  background: url(arrow_down.png) no-repeat right #222222;
  background-size: 10px;
  -webkit-appearance: none;
  background-position-x: 170px; }
  .select-styled:after {
    display: none;
    /*    content:"";
        width: 0;
        height: 0;
        border: 7px solid transparent;
        border-color: $select-color transparent transparent transparent;
        position: absolute;
        top: 16px;
        right: 10px;*/ }
  .select-styled:hover {
    background-color: #b83729; }
  .select-styled:active, .select-styled.active {
    background-color: #ab3326;
    background: url(arrow_up.png) no-repeat right black;
    background-size: 10px;
    background-position-x: 170px; }
    .select-styled:active:after, .select-styled.active:after {
      display: none;
      /*      top: 9px;
            border-color: transparent transparent $select-color transparent;
      */ }

.select-options {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #ab3326; }
  .select-options li {
    margin: 0;
    padding: 12px 0;
    text-indent: 15px;
    border-top: 1px solid #962d22;
    -webkit-transition: all 0.15s ease-in;
    -moz-transition: all 0.15s ease-in;
    -o-transition: all 0.15s ease-in;
    transition: all 0.15s ease-in; }
    .select-options li:hover {
      color: #c0392b;
      background: #fff; }
    .select-options li[rel="hide"] {
      display: none; }

/*# sourceMappingURL=installer.css.map */
