$contentWidth: 340px;
$viewportHeight: 620px;

$topBarHeight: 50px;
$messageHeight: 65px;

$bgColor: #10120f;
$errorColor: #591522;
$normalTextColor: #999999;
$greyOutTextColor: #555555;
$normalTextColor-lighten: lighten(#999999, 20%);
$normalFontSize: 12.24px;

$errorPanelBgColor: #591522;

$buttonBgColor: #59421b;
$disabledButtonBgColor: #555555;
$buttonBgColor-lighten: lighten($buttonBgColor, 4%);
$buttonHeight: 33px;
$buttonWidth: 120px;
$buttonFontSize: $normalFontSize;
$buttonBorderRadius: 7px;
$installButtonBorderRadius: 5px;

$paddingBetweenSelectors: 2px;
$selectorsWidth: $contentWidth/2 - $paddingBetweenSelectors/2;
$selectorsPadding: 9px;
$selectorsHeight: $buttonHeight;
$selectorBgColor: hsl(0,0,15);;
$selectorBgColor-lighten: lighten($selectorBgColor, 4%);
$selectorBgColor-darken: darken($selectorBgColor, 10%);
$arrowWidth: 7.5px;
$arrowHeight: 6px;

$logoSize: 180px;

$screenPositionY: $topBarHeight + $logoSize + 65px; // relative to the "body"
$screenHeight: $viewportHeight - $screenPositionY;
$buttonsPositionY: $screenPositionY - $buttonHeight - 20px; // relative to begin of screen element

@mixin transitions {
    -webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
}

::-webkit-scrollbar-track
{
        border-radius: 5px;
        background-color: $selectorBgColor;
}

::-webkit-scrollbar
{
        width: 7px;
        background-color: $selectorBgColor;
}

::-webkit-scrollbar-thumb
{
        border-radius: 5px;
        background-color: lighten($selectorBgColor, 8%);;
}

body {
    margin: 0px;
    padding: 0px;
    color: $normalTextColor;
    background-color: $bgColor;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: $normalFontSize;
    letter-spacing: 1.2px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

button {
    font-size: $buttonFontSize;
    text-align: center;
    vertical-align: middle;
    width: $buttonWidth;
    height: $buttonHeight;
    line-height: $buttonHeight;
    border: none;
    color: $normalTextColor;
    outline: 0;
    background-color: $buttonBgColor;
    border-radius: $installButtonBorderRadius;
    float: right;

    @include transitions;

    &.disabled {
        background-color: $disabledButtonBgColor;
    }
    &.clickable:not(.disabled) {
        cursor: pointer;

        &:hover {
          background-color: $buttonBgColor-lighten;
        }
    }

    &.button-extended {
        width: 1.5*$buttonWidth;
        &:hover {
          background-color: $buttonBgColor;
        }
    }
}

/* TOP BAR */

#top-bar {
    width: 100%;
    height: $topBarHeight;
    margin-bottom: 15px;
    -webkit-app-region: drag;
}

#message {
    position: absolute;
    left: 0px;
    top: 0px;
    margin: 0px;
    width: 100%;
    height: 0px;
    line-height: 0px;
    text-align: center;
    overflow: hidden;

    @include transitions;

    &.error {
        background-color: $errorColor;
    }

    &.displayed {
        height: $messageHeight;
        line-height: $messageHeight;

        span {
            margin: 4px;
            display: inline-block;
            vertical-align: middle;
            white-space: pre-wrap;
            line-height: normal;

            p {
                overflow: hidden;
                text-overflow: ellipsis;
                margin: 0px;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
            }

            #copy_error {
                text-decoration: underline;
                font-weight: bold;
                cursor: pointer;
                -webkit-app-region: no-drag;
            }
        }
    }
}

#close {
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    float: right;
    vertical-align: middle;
    -webkit-app-region: no-drag;
}

/* TOP BAR end */

/* LOGO WITH ROTATING PROGRESS begin */

#logo-area {
    margin: auto;
    margin-bottom: 65px;
    width: $logoSize;
    height: $logoSize;
    background-color: $bgColor
}
/* LOGO WITH ROTATING PROGRESS end */

/* SCREENS begin */

.screen {
    position: absolute;
    top: $screenPositionY;
    width: 0px;
    height: $screenHeight;
    overflow: hidden;

    @include transitions;

    &.visible {
        width: 100%;
        left: 0px !important;
    }

    &#email_form {
        left: 0px;
    }

    &#main_form {
        left: $contentWidth;
    }
}

.buttons-panel {
    position: absolute;
    left: 0px;
    top: $buttonsPositionY;
    width: 100%;
}

/* SCREENS end */

/* STATISTICS begin */
#send-statistics {
    width: $contentWidth;
    margin: auto;
    text-align: left;
    vertical-align: middle;
    font-size: $normalFontSize;
    line-height: 1.5;

    a {
        color: $greyOutTextColor;
    }

    p#introduction {
        margin: 0px 0px 36px 0px;
    }

    p#email-label {
        margin-bottom: 0px 0px 24px 0px;
    }

    #email-input {
        margin: auto;
        text-align: center;

        input {
            -webkit-appearance:none;
            width: 180px;
            font-family: 'Roboto', sans-serif;
            font-weight: normal;
            font-size: $normalFontSize;
            color: $normalTextColor;
            letter-spacing: 1.2px;
            background-color: lighten($bgColor, 10%);
            padding: 6px;
            border: 1px $greyOutTextColor solid;
        }
    }
}

#next-button {
    width: $contentWidth;
    margin: auto;
}

/* STATISTICS end */

/* VERSION SELECTORS begin */
#application-version-select {
    width: $contentWidth;
    height: $buttonHeight;
    margin: auto;
}

.select-hidden {
  display: none;
  visibility: hidden;
}

.select {
  display: inline-block;
  position: relative;
  font-size: $normalFontSize;
  color: $normalTextColor;
  width: $selectorsWidth;
  height: $selectorsHeight;
}

#left-select {
    float: left
}

#right-select {
    float: right
}

.select-styled {
  position: absolute; 
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $selectorBgColor;
  height: $selectorsHeight;
  line-height: $selectorsHeight;
  text-align: center;
  text-indent: -$selectorsPadding;
  @include transitions;

  width: $selectorsWidth;
  height: $buttonHeight;
  -webkit-appearance: none;

  &.clickable {
      cursor: pointer;

      &:hover {
            background-color: $selectorBgColor-lighten;
      }
  }
}

div.arrow {
    border-top: $arrowHeight solid $normalTextColor;
    border-left: $arrowWidth/2 solid transparent;
    border-right: $arrowWidth/2 solid transparent;
    border-bottom: none;
    width: 0px;
    height: 0px;
    position: absolute;
    right: $selectorsPadding;
    top: $selectorsHeight/2 - $arrowHeight/2;
    pointer-events:none;
    opacity: 1.0;

    @include transitions;

    &.up {
        border-top: none;
        border-bottom: $arrowHeight solid $normalTextColor;
    }

    &.hidden {
        opacity: 0.0;
    }
}

.select-options {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 999;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: $selectorBgColor;
    text-align: center;
    line-height: $selectorsHeight;
    border-radius: 0px 0px $buttonBorderRadius $buttonBorderRadius;
    border-top: 1px solid darken($selectorBgColor, 10);
    overflow-y: auto;
    max-height: 200px;

    h2 {
        cursor: default;
        text-indent: -$selectorsPadding;
        font-size: $normalFontSize;
        margin: 0px;
    }


    hr {
        border: 0px;
        margin: 0px;
        height: 1px;
        background-color: $bgColor;
    }

    li {
        cursor: pointer;
        text-indent: -$selectorsPadding;
        @include transitions;

        &:hover {
            color: $normalTextColor-lighten;
            background: $selectorBgColor-lighten;
        }
        &[rel="hide"] {
            display: none;
        }
    }
}

.select-item-left {
    border-radius: $buttonBorderRadius 0px 0px $buttonBorderRadius;

    &.active {
        border-radius: $buttonBorderRadius 0px 0px 0px;
    }
}

.select-item-right {
    border-radius: 0px $buttonBorderRadius $buttonBorderRadius 0px;

    &.active {
        border-radius: 0px $buttonBorderRadius 0px 0px
    }
}
/* VERSION SELECTORS end */


/* INSTALL BUTTON SECTION begin */
#install-buttons {
    width: $contentWidth;
    margin: auto;  
}
/* INSTALL BUTTON SECTION end */
