body {
  color: #999999;
  background-color: #10120f;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  letter-spacing: 1.2px; }

/* LOGO WITH ROTATING PROGRESS begin */
#spinner {
  margin: auto;
  width: 180px;
  height: 180px; }

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg); } }
.rotating {
  -webkit-animation: rotating 2s linear infinite; }

#logo-area {
  margin: auto;
  margin-top: 105px;
  margin-bottom: 90px;
  width: 180px;
  height: 180px;
  background-image: url("img/luna_logo.svg");
  background-repeat: no-repeat;
  background-position: center center; }

/* LOGO WITH ROTATING PROGRESS end */
/* PROGRESS INFO begin */
#progress-info {
  height: 60px;
  width: 410px;
  margin: auto;
  color: #555555;
  text-align: center;
  vertical-align: middle; }

#error-message {
    height: 60px;
    width: 410px;
    margin: auto;
    color: rgb(207, 28, 58);
    text-align: center;
    vertical-align: middle; }

/* PROGRESS INFO end */
/* STATISTICS begin */
#send-statistics {
  width: 100%;
  text-align: center;
  vertical-align: middle;
  font-size: 15px; }

#agree-box {
  display: none; }

#agree-box:not(:checked) + label {
  background: url("img/hearts_grey.svg") no-repeat;
  background-position: left center;
  background-size: 16px;
  padding-left: 24px; }

#agree-box:checked + label {
  background: url("img/hearts.svg") no-repeat;
  background-position: left center;
  background-size: 16px;
  padding-left: 24px; }

.learn-more-link a {
  color: #555555; }

/* STATISTICS end */
/* VERSION SELECTORS begin */
#application-version-select {
  width: 410px;
  height: 40px;
  margin: auto;
  margin-top: 30px; }

.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px; }

.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 16px;
  color: #999999;
  width: 200px;
  height: 40px; }

.select-styled {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #222222;
  padding: 8px 15px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  width: 200px;
  height: 40px;
  background: url(img/arrow_down.png) no-repeat right #222222;
  background-size: 10px;
  -webkit-appearance: none;
  background-position-x: 170px; }
  .select-styled:after {
    display: none; }
  .select-styled:hover {
    background-color: #3c3c3c; }
  .select-styled:active, .select-styled.active {
    background: url(img/arrow_up.png) no-repeat right #090909;
    background-size: 10px;
    background-position-x: 170px; }
    .select-styled:active:after, .select-styled.active:after {
      display: none; }

.select-options {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #222222; }
  .select-options li {
    margin: 0;
    padding: 12px 0;
    text-indent: 15px;
    border-top: 1px solid #090909;
    -webkit-transition: all 0.15s ease-in;
    -moz-transition: all 0.15s ease-in;
    -o-transition: all 0.15s ease-in;
    transition: all 0.15s ease-in; }
    .select-options li:hover {
      color: #cccccc;
      background: #3c3c3c; }
    .select-options li[rel="hide"] {
      display: none; }

.select-item-left {
  border-radius: 15px 0px 0px 15px; }

.select-item-right {
  border-radius: 0px 15px 15px 0px; }

/* VERSION SELECTORS end */
/* ADDITIONAL OPTIONS begin */
#additional-options {
  height: 200px;
  width: 410px;
  margin: auto;
  color: #555555;
  text-align: center;
  vertical-align: middle;
  padding-top: 80px; }

/* ADDITIONAL OPTIONS end */
/* INSTALL BUTTON SECTION begin */
#install-buttons {
  width: 410px;
  margin: auto; }

#install {
  font-size: 15px;
  text-align: center;
  vertical-align: middle;
  width: 120px;
  height: 30px;
  line-height: 30px;
  border: none;
  color: #999999;
  outline: 0;
  background-color: #591522;
  border-radius: 5px;
  float: right; }

/* INSTALL BUTTON SECTION end */

/*# sourceMappingURL=installer.css.map */
