$screenWidth: 340px;

$topBarHeight: 65px;

$bgColor: #10120f;
$normalTextColor: #999999;
$greyOutTextColor: #555555;
$normalTextColor-lighten: lighten(#999999, 20%);
$normalFontSize: 12px;

$buttonBgColor: #591522;
$buttonBgColor-lighten: lighten($buttonBgColor, 10%);
$buttonHeight: 33px;
$buttonWidth: 120px;
$buttonFontSize: $normalFontSize;
$buttonBorderRadius: 7px;
$installButtonBorderRadius: 5px;

$paddingBetweenSelectors: 2px;
$selectorsWidth: $screenWidth/2 - $paddingBetweenSelectors/2;
$selectorsPadding: 9px;
$selectorsHeight: $buttonHeight;
$selectorBgColor: #222222;
$selectorBgColor-lighten: lighten($selectorBgColor, 10%);
$selectorBgColor-darken: darken($selectorBgColor, 10%);
$arrowWidth: 7.5px;
$arrowHeight: 6px;

$logoSize: 180px;

@mixin transitions {
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

body {
    color: $normalTextColor;
    background-color: $bgColor;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: $normalFontSize;
    letter-spacing: 1.2px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* TOP BAR */

#top-bar {
    width: 100%;
    height: $topBarHeight;
    margin-bottom: 5px;
    -webkit-app-region: drag;
}

#error-message {
    margin: auto;
    width: $screenWidth - 60px;
    color: red;
    height: 0px;
    line-height: 0px;
    text-align: center;
    overflow: hidden;

    @include transitions;

    &.displayed {
        height: $topBarHeight;
        line-height: $topBarHeight;
    }
}

#close {
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    float: right;
    vertical-align: middle;
    -webkit-app-region: no-drag;
}

/* TOP BAR end */

/* LOGO WITH ROTATING PROGRESS begin */
#spinner {
    margin: auto;
    width: $logoSize;
    height: $logoSize;
}
@-webkit-keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}
.rotating {
    -webkit-animation: rotating 2s linear infinite;
}

#logo-area {
    margin: auto;
    margin-bottom: 60px;
    width: $logoSize;
    height: $logoSize;
    background-image: url('img/luna_logo.svg');
    background-repeat: no-repeat;
    background-position: center center;    
}
/* LOGO WITH ROTATING PROGRESS end */

/* STATISTICS begin */
#send-statistics {
    width: 100%;
    text-align: center;
    vertical-align: middle;
    font-size: $normalFontSize;
    margin-bottom: 20px
}
#agree-box {
    display: none;
}

#agree-box:not(:checked) + label {
    background: url("img/hearts_grey.svg") no-repeat;
    background-position: left center;
    background-size: 16px;
    padding-left: 24px;

    @include transitions;

    &.clickable {
        cursor: pointer;
        &:hover {
            background: url("img/hearts_light_grey.svg") no-repeat;
            background-position: left center;
            background-size: 16px;
        }
    }
}
#agree-box:checked + label {
    @include transitions;

    background: url("img/hearts.svg") no-repeat;
    background-position: left center;
    background-size: 16px;
    padding-left: 24px;

    &.clickable {
        cursor: pointer;
    }
}

.learn-more-link a {
    color: $greyOutTextColor;
}

/* STATISTICS end */


/* VERSION SELECTORS begin */
#application-version-select {
    width: $screenWidth;
    height: $buttonHeight;
    margin: auto;
    margin-bottom: 175px;
}

.select-hidden {
  display: none;
  visibility: hidden;
}
.select {
  display: inline-block;
  position: relative;
  font-size: $normalFontSize;
  color: $normalTextColor;
  width: $selectorsWidth;
  height: $selectorsHeight;
}

#left-select {
    float: left
}

#right-select {
    float: right
}

.select-styled {
  position: absolute; 
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $selectorBgColor;
  height: $selectorsHeight;
  line-height: $selectorsHeight;
  text-align: center;
  text-indent: -$selectorsPadding;
  @include transitions;

  width: $selectorsWidth;
  height: $buttonHeight;
  -webkit-appearance: none;

  &:after {
    display: none;
  }
  &.clickable {
      cursor: pointer;

      &:hover {
            background-color: $selectorBgColor-lighten;
      }
  }
  &:active, &.active {
    &:after {
        display: none;        
    }
  }
}

div.arrow {
    border-top: $arrowHeight solid $normalTextColor;
    border-left: $arrowWidth/2 solid transparent;
    border-right: $arrowWidth/2 solid transparent;
    border-bottom: none;
    width: 0px;
    height: 0px;
    position: absolute;
    right: $selectorsPadding;
    top: $selectorsHeight/2 - $arrowHeight/2;
    pointer-events:none;

    &.up {
        border-top: none;
        border-bottom: $arrowHeight solid $normalTextColor;
    }
}

.select-options {
  display: none; 
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: $selectorBgColor;
  text-align: center;
  line-height: $selectorsHeight;
  li {
    cursor: pointer;
    border-top: 1px solid darken($selectorBgColor, 10);
    text-indent: -$selectorsPadding;
    @include transitions;

    &:hover {
      color: $normalTextColor-lighten;
      background: $selectorBgColor-lighten;
    }
    &[rel="hide"] {
      display: none;
    }
  }
}

.select-item-left {
    border-radius: $buttonBorderRadius 0px 0px $buttonBorderRadius;
}

.select-item-right {
    border-radius: 0px $buttonBorderRadius $buttonBorderRadius 0px;
}
/* VERSION SELECTORS end */


/* INSTALL BUTTON SECTION begin */
#install-buttons {
    width: $screenWidth;
    margin: auto;  
}

#install {
    font-size: $buttonFontSize;
    text-align: center;
    vertical-align: middle;
    width: $buttonWidth;
    height: $buttonHeight;
    line-height: $buttonHeight;
    border: none;
    color: $normalTextColor;
    outline: 0;    
    background-color: $buttonBgColor;
    border-radius: $installButtonBorderRadius;
    float: right;

    @include transitions;


    &.clickable {
        cursor: pointer;

        &:hover {
          background-color: $buttonBgColor-lighten;
        }
    }

    &.button-extended {
        width: 1.5*$buttonWidth;
        &:hover {
          background-color: $buttonBgColor;
        }
    }
}
/* INSTALL BUTTON SECTION end */
